.github-card {
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
}

.questionTile {
  margin-left: 20px;
  margin-right: 20px;
}

.specialP {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
}

.github-card.expanded {
  max-height: none;
  overflow: visible;
}

.github-card h3 {
  font-size: 20px;
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background: lightgrey;
  color: black;
  margin-bottom: 8px;
  cursor: pointer;
}

.github-card p {
  font-size: 16px;
  background: white;
  color: black;
  padding-left: 1rem;
  padding-right: 0.5rem;
  border-radius: 4px;
  background: lightgrey;
  margin-bottom: 12px;
}

.github-card.expanded .answer-section {
  display: block;
}

.answer-section {
  margin-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

textarea {
  resize: vertical;
  font-size: 16px;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  margin-bottom: 8px;
}

.btn-submit {
  background-color: #2ea44f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #22863a;
}
