@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    background-color: #1f1f1f;
    color: white;
    /* overflow: hid; */
}
.headingText {
    font-family: 'Poppins',sans-serif;
}
.homeContainer {
    background-color: #1f1f1f;
    height: 100%;
}